<div class="container-fluid" ng-init="edit.getInitalData()">
    <form ng-submit="edit.editarCliente()" class="card-body" name="editClienteForm">
        <div class="row">
            <div class="form-group col-4">
                <label for="">Nome</label>
                <input ng-class="{'border-danger' : novoClienteForm.nome.$error.required, 'border-success': novoClienteForm.nome.$valid}"
                       type="text" name="nome"
                       class="form-control" required ng-model="edit.customer.name">
                <span class="text-muted">Obrigatório</span>
            </div>

            <div class="form-group col-5">
                <label for="">E-mail</label>
                <input ng-class="{'border-danger' : novoClienteForm.email.$error.required, 'border-success': novoClienteForm.email.$valid}"
                       type="email" name="email" class="form-control" required ng-model="edit.customer.email">
                <span class="text-muted">Obrigatório</span>
            </div>

            <div class="col-3"></div>

            <div class="form-group col-3">
                <label for="">Fone</label>
                <input ng-class="{'border-danger' : novoClienteForm.fone.$error.required, 'border-success': novoClienteForm.fone.$valid}"
                       type="text" name="fone" class="form-control" required ng-model="edit.customer.phone"
                       ui-br-phone-number-mask>
                <span class="text-muted">Obrigatório</span>
            </div>

            <div class="col-5">
                <label for="">Foto</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" file-model="foto">
                        <label class="custom-file-label" for="inputGroupFile01">{{edit.customer.photo}}</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-outline-success" ng-disabled="editClienteForm.$invalid">Salvar
                    cliente
                </button>
            </div>
        </div>
    </form>
</div>
