<div class="container-fluid" ng-init="home.buscaTodos()">
    <form ng-submit="home.salvarNovo()" class="card-body" name="novoClienteForm">
        <div class="row">
            <div class="form-group col-4">
                <label for="">Nome</label>
                <input ng-class="{'border-danger' : novoClienteForm.nome.$error.required, 'border-success': novoClienteForm.nome.$valid}"
                       type="text" name="nome"
                       class="form-control" required ng-model="home.novo.nome">
                <span class="text-muted">Obrigatório</span>
            </div>

            <div class="form-group col-5">
                <label for="">E-mail</label>
                <input ng-class="{'border-danger' : novoClienteForm.email.$error.required, 'border-success': novoClienteForm.email.$valid}"
                       type="email" name="email" class="form-control" required ng-model="home.novo.email">
                <span class="text-muted">Obrigatório</span>
            </div>

            <div class="col-3"></div>

            <div class="form-group col-3">
                <label for="">Fone</label>
                <input ng-class="{'border-danger' : novoClienteForm.fone.$error.required, 'border-success': novoClienteForm.fone.$valid}"
                       type="text" name="fone" class="form-control" required ng-model="home.novo.fone"
                       ui-br-phone-number-mask>
                <span class="text-muted">Obrigatório</span>
            </div>

            <div class="col-5">
                <label for="">Foto</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" file-model="foto">
                        <label class="custom-file-label" for="inputGroupFile01">{{home.novo.foto.name}}</label>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-outline-success" ng-disabled="novoClienteForm.$invalid">Salvar
                    cliente
                </button>
            </div>
        </div>
    </form>
</div>

<hr>
<div class="container-fluid">

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Data de Cadastro</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in home.clientes">
            <td class="align-middle"><img width="100px" ng-src="backEnd/{{c.photo}}" alt=""></td>
            <td class="align-middle">{{c.name}}</td>
            <td class="align-middle">{{c.email}}</td>
            <td class="align-middle">{{c.data}}</td>
            <td class="align-middle">
                <button class="btn btn-outline-danger" ng-click="home.excluirCliente(c.customer_id)">Excluir</button>
                <a href="#!/edit/{{c.customer_id}}"><button class="btn btn-info">Editar</button></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>